* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  background-color: #e7efec;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.searchbar {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  width: 90%;
}

.searchbar__content {
  margin: 0 34px;
  padding: 0 10px;
  width: 60%;
}

.searchbar__title {
  font-weight: 100;
  line-height: 80px;
  font-size: 60px;
  margin: 20px 0 0 0;
}

.searchbar__form {
  margin: 24px 0 0 0;
  position: relative;
}

.searchbar__form > input {
  padding-left: 70px;
  height: 70px;
  font-size: 24px;
  border: none;
  width: 90%;
  border-radius: 0 80px 0 0;
}
.searchbar__form > button {
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  background-color: #4cb7ee;
  border-radius: 0 80px 0 0;
  width: 200px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  font-size: 26px;
}

.searchbar__form > button:hover {
  border-radius: 0 40px 0 0;
}
.fa-magnifying-glass {
  font-size: 26px;
  color: grey;
  position: absolute;
  top: 35%;
  left: 25px;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-results__navigation {
  margin: 20px 0 0 0;
  text-align: center;
  padding: 0;
  height: 60px;
  width: 88%;
  list-style: none;
  position: relative;
}

.nav-link {
  color: #fff;
  text-decoration: inherit;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  border-radius: 60px 60px 0 0;
  height: 100%;
  line-height: 60px;
  width: 57%;
  background-color: #81d3f4;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 0;
}
.nav-link:hover {
  background-color: #4cb7ee;
}
.active:hover {
  background-color: #fff;
}

.nav-link_departures {
  left: 0;
  z-index: 1;
}

.nav-link_arrivals {
  right: 0;
}

.active {
  z-index: 2;
  background-color: #fff;
  color: #4cb7ee;
}
.fa-solid {
  z-index: 0;
}

.search-results__container {
  background-color: #fff;
  width: 88%;
}

.search-results__calendar {
  height: 45px;
  width: 45px;
  border: none;
}

::-webkit-calendar-picker-indicator {
  padding: 15px;
  cursor: pointer;
  opacity: 0;
}

.fa-calendar-days {
  font-size: 40px;
  color: #4cb7ee;
  position: relative;
  top: 9px;
  left: 45px;
}

.search-results__datepicker {
  margin: 15px 0 0 -10px;
  display: flex;
}
.search-results__dates {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin-left: 20px;
  color: #b8b9b9;
}
.date-item {
  width: 120px;
  text-align: center;
  border-bottom: 3px solid #b8b9b9;
  cursor: pointer;
}

.date-number {
  padding-bottom: 10px;
  font-size: 12px;
}

.search-results__label {
  font-size: 12px;
  text-align: end;
  padding-right: 5px;
  font-weight: 600;
  color: #4cb7ee;
  letter-spacing: 0.5px;
}
.date-title {
  font-size: 17px;
  font-weight: 700;
  margin-top: 5px;
}

.active-day {
  color: #4cb7ee;
  border-bottom: 3px solid #4cb7ee;
}
.nothing-found__container {
  height: 400px;
  position: relative;
}

.nothing-found__container td {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 37px;
}

table {
  margin-top: 15px;
  width: 100%;
  border: none;
}

thead {
  height: 50px;
  color: #95989a;
  font-size: 16px;
}
th {
  padding: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 20px;
}

td {
  flex-direction: column;
  padding: 13px 5px;
  height: 75px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #212529;
}

.terminal-a {
  display: inline-block;
  color: #63c745;
  border: 1px solid #63c745;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  line-height: 33px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.terminal-d {
  display: inline-block;
  color: #1eb7ee;
  border: 1px solid #1eb7ee;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  line-height: 37px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

td span {
  display: inline-block;
}

.td-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

tr {
  line-height: 30px;
}

.tr-flight:hover {
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.tr-flight:nth-child(odd) {
  background-color: #e6eff3;
}
.spinner-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
